<footer class="site-footer">


    <div class="wrapper">

        <p class="description">
            {% if site.description_footer %} {{site.description_footer}} {% endif %}
        </p>
        <p class="contact">
            Hubungi kami: {% if site.telegram_username %}
            <a href="https://t.me/@{{site.telegram_username}}"><i class="fa fa-telegram" aria-hidden="true"></i></a> {% endif %} {% if site.email %}
            <a href="mailto:{{site.email}}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> {% endif %} {% if site.whatsapp_username %}
            <a href="https://wa.me/62{{site.whatsapp_username}}"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> {% endif %} {% if site.youtube_username %}
            <a href="https://youtube.com/@{{site.youtube_username}}"><i class="fa fa-youtube" aria-hiden="true"></i></a> {% endif %} {% if site.twitter_username %}
            <a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter" aria-hidden="true"></i></a> {% endif %} {% if site.facebook_username %}
            <a href="https://www.facebook.com/{{site.facebook_username}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> {% endif %}
        </p>
        <p>
            <span><a href="/disclaimer">Disclaimer</a></span> &nbsp <span><a href="/privacy-policy">Privacy Policy</a></span> &nbsp </span><a href="/tos">TOS</a></span>
        </p>
        <p class="power">
            <span>
                ©copyright <a href="/">ysfku</a>.
            </span>
            <span>
                Presented by <a href="/about">YSFKU</a>.
            </span>
        </p>
    </div>
</footer>
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
