<footer class="footer mt-auto py-3 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Tentang Kami</h5>
        <ul class="list-unstyled">
          <li><a href="/profile.html" class="text-light">Profil</a></li>
          <li><a href="/foto-kegiatan.html" class="text-light">Foto Kegiatan</a></li>
          <li><a href="/video-kegiatan.html" class="text-light">Video Kegiatan</a></li>
          <li><a href="/disclaimer.html" class="text-light">Disclaimer</a></li>
          <li><a href="/privacy-policy.html" class="text-light">Privacy Policy</a></li>
          <li><a href="/donate.html" class="text-light">Donate</a></li>
          <li><a href="/carrier.html" class="text-light">Jobs & Karir</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Produk & Layanan</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Routers</a></li>
          <li><a href="#" class="text-light">Modem</a></li>
          <li><a href="#" class="text-light">Antena</a></li>
          <li><a href="#" class="text-light">Asessoris</a></li>
          <li><a href="#" class="text-light">Set Top Box</a></li>
          <li><a href="#" class="text-light">Mikrotik</a></li>
          <li><a href="#" class="text-light">Login Pages</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Link Partner</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">VPN Free</a></li>
          <li><a href="#" class="text-light">VPN Premium</a></li>
          <li><a href="#" class="text-light">Affiliasi Simaster</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>24/7 Siap Bantu</h5>
        <ul class="list-unstyled">
          <li><a href="https://wa.me/6287764241047" class="text-light">WhatsApp</a></li>
          <li><a href="https://t.me/masterwifinetworksolution" class="text-light">Telegram</a></li>
          <li><a href="#" class="text-light">Dokumentasi</a></li>
          <li><a href="#" class="text-light">Knowledge Base</a></li>
          <li><a href="#" class="text-light">FAQ</a></li>
        </ul>
        <h5>Alamat Kami Sob</h5>
        <p class="text-light">Jl. A. Yani KM 14.500, Kec. Gambut, Kab. Banjar, Kalimantan Selatan, 70652</p>
        <h5>Hotline</h5>
        <p class="text-light">0877 6424 1047 (Support)</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <h5>Follow Us On</h5>
        <a href="https://facebook.com/muhammadyusuf1992" class="text-light me-2"><i class="fab fa-facebook-f"></i></a>
        <a href="https://github.com/masterwifinetworksolution" class="text-light me-2"><i class="fab fa-github"></i></a>
        <a href="https://youtube.com/@masterwifinetworksolution" class="text-light me-2"><i class="fab fa-youtube"></i></a>
        <a href="https://t.me/masterwifinetworksolution" class="text-light me-2"><i class="fab fa-telegram"></i></a>
        <a href="https://wa.me/6287764241047" class="text-light me-2"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center text-light">
        <span>© 2024 </span><a href="/" class="text-light">Master Wifi Network Solution</a><span>. All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
