<div id="tosPanel" class="tos-panel">
  <div class="tos-content">
    <span class="close" onclick="closeTosPanel()">&times;</span>
    <h2>Syarat dan Ketentuan</h2>
    <p>Terakhir diperbarui: {{ site.time | date: "%d %B %Y" }}</p>
    <p>Silakan baca syarat dan ketentuan layanan ini ("syarat", "syarat dan ketentuan layanan") dengan hati-hati sebelum menggunakan situs web Master Wifi Network Solution yang dioperasikan oleh Muhammad Yusuf ("kami", "kita", "milik kami").</p>
    <!-- Tambahkan konten syarat dan ketentuan Anda di sini -->
    
    <a href="/privacy-policy/" class="button">Privacy Policy</a>
    <a href="/disclaimer/" class="button">Disclaimer</a>
    <button onclick="acceptTos()">Saya Setuju</button>
  </div>
</div>

<div id="privacyPolicyPanel" class="tos-panel">
  <div class="tos-content">
    <span class="close" onclick="closePrivacyPolicyPanel()">&times;</span>
    <h2>Kebijakan Privasi</h2>
    <p>Lihat kebijakan privasi di tombol yang sudah saya siapkan untuk anda.</p>
    <button onclick="closePrivacyPolicyPanel()">Tutup</button>
  </div>
</div>

<div id="disclaimerPanel" class="tos-panel">
  <div class="tos-content">
    <span class="close" onclick="closeDisclaimerPanel()">&times;</span>
    <h2>Disclaimer</h2>
    <p>Lihat disclaimer di tombol yang sudah saya siapkan untuk anda.</p>
    <button onclick="closeDisclaimerPanel()">Tutup</button>
  </div>
</div>
