---
title: Blog Archive
sidebar: blog
keywords: news, blog, updates, release notes, announcements
permalink: blog-archive.html
toc: false
comments: false
folder: blog
---

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Excerpt</th>
        </tr>
    </thead>
    <tbody>
        {%for post in site.posts %}
        <tr>
            <td><time>{{ post.date | date:"%d %b %Y" }}</time></td>
            <td><a href="{{ post.url | remove: " /" }}">{{post.title}}</a></td>
            <td>{% if post.summary %} {{ post.summary | strip_html | strip_newlines | truncate: 160 }} {% else %} {{
                post.content | truncatewords: 50 | strip_html }} {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>