---
layout: cari
title: search
permalink: /search.html
---

<!-- Isi halaman tambahan bisa ditambahkan di sini jika diperlukan -->

<div class="container">
  <h1>Search</h1>
  <form class="form-inline my-2 my-lg-0">
    <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" oninput="searchPosts()">
  </form>
  <div id="search-results" class="table-responsive"></div>
</div>

<script>
  const posts = [
    {% for post in site.posts %}
      { title: '{{ post.title }}', url: '{{ post.url }}' },
    {% endfor %}
    {% for page in site.pages %}
      { title: '{{ page.title }}', url: '{{ page.url }}' },
    {% endfor %}
  ];

  function searchPosts() {
    const query = document.getElementById('search-input').value.toLowerCase();
    const resultsContainer = document.getElementById('search-results');

    resultsContainer.innerHTML = '';

    if (query.trim() === '') {
      // If search input is empty, clear the results
      resultsContainer.innerHTML = '';
    } else {
      const results = posts.filter(post => post.title.toLowerCase().includes(query));

      if (results.length > 0) {
        let table = `
          <table class="table table-striped">
            <thead style="background-color: #006400; color: #FFFFFF;">
              <tr>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
        `;
        results.forEach(result => {
          table += `
            <tr style="background-color: #90EE90;">
              <td><a href="${result.url}">${result.title}</a></td>
            </tr>
          `;
        });
        table += '</tbody></table>';
        resultsContainer.innerHTML = table;
      } else {
        resultsContainer.innerHTML = '<div>No results found</div>';
      }
    }
  }
</script>
