---
layout: default
category: {{ page.title }}
---

<style>
  .category-content {
    margin-top: 20px; /* Menyesuaikan dengan tinggi navigasi Anda */
  }
  .category-header {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 1.25rem; /* Ukuran font lebih kecil */
  }
  .category-header h1 {
    margin: 0;
    font-size: 1.5rem; /* Mengurangi ukuran font header */
  }
</style>

<div class="category-content">
  <header class="category-header">
    <h1>Posts in category: {{ page.title }}</h1>
  </header>

  <ol class="list-group list-group-numbered">
    {% for post in site.posts %}
      {% if post.categories contains page.title %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              <a href="{{ post.url }}" class="text-decoration-none">{{ post.title }}</a>
            </div>
            <div>
              <span class="badge text-bg-primary rounded-pill">{{ post.date | date: "%B %d, %Y" }}</span>
              <span>by <a href="/profile.html" class="text-decoration-none">{{ post.author }}</a></span>
            </div>
            <p>{{ post.excerpt | strip_html | truncate: 100 }}</p> <!-- Truncate content to 100 characters -->
            <a href="{{ post.url }}" class="btn btn-primary btn-sm mt-2">Read More</a>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
