<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-8 col-lg-9 px-md-4">
        {{ content }}
      </main>

      <nav id="sidebar" class="col-md-4 col-lg-3 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">

          <!-- Menambahkan total pengunjung, pengunjung hari ini, dan negara pengunjung -->
          <div class="card">
            <div class="card-header">
              Visitor Statistics
            </div>
            <div class="card-body">
              <p id="total-visitors">Loading total visitors...</p>
              <p id="today-visitors">Loading visitors today...</p>
              <p id="country-visitors">Loading countries...</p>
            </div>
          </div>

          <!-- Untuk recent posts di sidebar -->
          <div class="card-header">
            Recent Posts
          </div>
          <ul class="list-group list-group-flush">
            {% assign sorted_posts = site.posts | sort: 'views' | reverse %}
            {% for post in sorted_posts limit: 7 %}
            <li class="list-group-item">
              <span class="badge badge-primary">{{ forloop.index }}</span>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <span class="badge badge-info float-right">{{ post.views }} views</span>
            </li>
            {% endfor %}
          </ul>

          <div class="card">
            <div class="card-header">
              Top 5 Repository Simaster
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://github.com/masterwifinetworksolution/file">file</a></li>
              <li class="list-group-item"><a href="https://github.com/masterwifinetworksolution/clash">Konfigurasi Clash</a></li>
              <li class="list-group-item"><a href="https://github.com/masterwifinetworksolution/linux-armbian-server">Linux Armbian Server</a></li>
              <li class="list-group-item"><a href="https://github.com/masterwifinetworksolution/clash-cfm">clash cfm</a></li>
              <li class="list-group-item"><a href="https://github.com/masterwifinetworksolution/termux-auto-planemode">termux-auto-planemode</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  
  {% include footer.html %}
  {% include javascript.html %}

  </body>
</html>