---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{ docs.title }}</h1>
        <div class="label">

            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ docs.date | date: "%F" }}
            </div>

            <div class="label-card">
                {% if docs.author %}<i class="fa fa-user"></i>{{ docs.author }}
                {% endif %}
            </div>

            <div class="label-card">
                {% if docs.meta %}<i class="fa fa-key"></i>{{ docs.meta }}  {% endif %}
            </div>

            <div class="label-card">
            {% include category.html %}
            </div>

            <div class="label-card">
            {% include tag.html %}
            </div>

        </div>
        <hr>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <hr>

        {% include donasi.html %}

        <h2 id="comments">Komentar</h2>
        {% include comments.html %}


    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    Daftar Content
                </div>
                <ul id="content-side" class="content-ul">
                    <li><a href="#comments">Komentar</a></li>
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
