---
layout: default
---

<div class="container">
  <div class="post-content">
    <h3>{{ page.title }}</h3>
    <p>
      {{ page.date | date: "%B %d, %Y" }} -
      Kategori: 
      {% for category in page.categories %}
        <a href="{{ site.baseurl }}/categories/{{ category | downcase }}/">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
      {% endfor %}
      • {{ page.reading_time }} min read
      • <small id="page-views">Loading views...</small>
      • <a href="/author.html#{{ page.author }}">{{ page.author }}</a>
    </p>
  </div>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
      {% for category in page.categories %}
        <li class="breadcrumb-item"><a href="{{ site.baseurl }}/categories/{{ category | downcase }}/">{{ category }}</a></li>
      {% endfor %}
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ page.url }}">{{ page.title }}</a></li>
    </ol>
  </nav>

  <!-- Place ToC here -->
  <div class="toc-panel">
    <nav class="toc">
      {% include toc.html html=content %}
    </nav>
  </div>
  
  {% include iklan.html %}

  <div class="post-content">
    <div>
      {% if page.image %}
        <img src="{{ page.image }}" alt="{{ page.title }}" class="img-responsive">
      {% else %}
        <img src="{{ site.baseurl }}/assets/images/banner.jpg" alt="Banner Image" class="img-responsive">
      {% endif %}

      {{ content }}
      {% include iklan.html %}
      {% include comments.html %}
    </div>
  </div>
</div>
