---
layout: home
title: File
permalink: /files/
icon: download
type: page
---

      <!--Table Start-->
      <div class="container-fluid">
        <table id="example" class="table">
            <thead>
                <tr>
                    <th>Nama File</th>
                    <th>Kategori</th>
                    <th>Data File</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
          <!--For loop that iterates over markdown frontmatter in _databases folder-->
          {% for database in site.databases %}
          <tr>
            <td>{{ database.Name }}</td>
            <td>{{ database.Kategori }}</td>
            <td>{{ database.Data }}</td>
            <td><a href="{{ database.Link }}"><button class="btn">Download</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include donasi.html %}
    </section>
    